﻿@model string

@{
    ViewBag.Title = "Index";
}

<script>
    var redirectoToLogin = '@Url.Action("Login", "Chat")';
</script>

@Styles.Render("~/Content/ChatStyle.css")
<div id="wrapper">
    <div id="music">
        <img src="https://cdn0.iconfinder.com/data/icons/super-mono-reflection/blue/button-play_blue.png" id="playbtn" />
        <div id="player"></div>
        <ul id="results" style="list-style-type:none">
            <li><h1>&times;</h1></li>
        </ul>
    </div>
    <div id="chat-container">
        <div id="dynamic-content">
            <div class="channel global">Global Chat</div>
        </div>
        <input type="hidden" id="nickname" value="@Model" />               <!-- Text field for nickname (?) -->
        <div id="msg-container">
            <!-- Contains text field and messages -->
            <div id="messages">
                <ul id="global" class="msgcont"></ul>               <!-- Place where messages are stored -->
            </div>
            <textarea spellcheck="false" id="message" class="messagebox"></textarea>                           <!-- Text field -->
            
        </div>
        <div id="onlineusers-content">
            <div id="onlineusers">
                <!-- Online users -->
                <b>Online Users</b>
            </div>
            <select id="users">
                <!--Userlist which is used to add to channel chat-->
            </select>
        </div>
    </div>
    <style>
    </style>
    @section scripts
    {
        @Scripts.Render("~/Scripts/jquery-2.1.3.js")
        @Scripts.Render("~/Scripts/jquery-ui.min.js")
        @Scripts.Render("~/Scripts/jquery.signalR-2.2.0.min.js")
        @Scripts.Render("~/signalr/hubs")
        @Scripts.Render("//connect.soundcloud.com/sdk.js")
        
        @Scripts.Render("~/Scripts/Custom/chat.js")
        @Scripts.Render("~/Scripts/Custom/display.js")
        @Scripts.Render("~/Scripts/Custom/soundcloud.js")

        
    }
</div>