﻿@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<h2>Login</h2>
<h2>Login</h2>
<h2>Login</h2>

@using (Html.BeginForm("Login", "Chat", FormMethod.Post))
{
    if (ViewBag.Message != null)
    {
        <span>@ViewBag.Message</span><br />
    }

    @Html.Label("Name: ");
    @Html.TextBox("username");
    <input type="submit" value="Login" />
}

