﻿@model mvc01.Models.User

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<div id="upload-container">
    <div id="upload-image">
        @using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div>@Html.LabelFor(u => u.ProfilePicture)</div>
            <input type="file"  name="Image"/>
            <input type="submit" value="Upload" />
        }
    </div>
    <div>
        <img src='@Url.Action("GetProfileImage", "Users")' alt="Can not be displayed" width="40" height="40" />
    </div>
</div>

