﻿@model mvc01.Models.User

@{
    ViewBag.Title = "Log in";
}

<h2></h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Your email or password is incorrect");
    <div>
        <fieldset>
            <legend>Login:</legend>
            <div>@Html.LabelFor(u => u.Email)</div> 
            <br />

            <div>
                @Html.TextBoxFor(u => u.Email)
                @Html.ValidationMessageFor(u => u.Email)
            </div> 
            <br />

            <div>@Html.LabelFor(u => u.Password)</div>
            <br />

            <div>
                @Html.PasswordFor(u => u.Password)
                @Html.ValidationMessageFor(u => u.Password)
            </div>
            <br />
            
            <input type="submit" value="Log in" />
            <br />

        </fieldset>
    </div>
}

