﻿@model mvc01.Models.User

@{
    ViewBag.Title = "Register";
}

<h2></h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Registration failed");
    <div>
        <fieldset>
            <legend>Register:</legend>

            <div>@Html.LabelFor(u => u.Email)</div>

            <div>
                @Html.TextBoxFor(u => u.Email)
                @Html.ValidationMessageFor(u => u.Email)
            </div>

            <div>@Html.LabelFor(u => u.Username)</div>

            <div>
                @Html.TextBoxFor(u => u.Username)
                @Html.ValidationMessageFor(u => u.Username)
            </div>

            <div>@Html.LabelFor(u => u.Password)</div>

            <div>
                @Html.PasswordFor(u => u.Password)
                @Html.ValidationMessageFor(u => u.Password)
            </div>
            <br />

            <input type="submit" value="Register" />

        </fieldset>
    </div>
}

