﻿h2 {
    padding-top: 50px;
}

#wrapper {
    position: absolute;
    width: 100%;
    top: 50px;
}

#chat-container {
	position: fixed;
	width: 100%;
	height: 40%;
	/*bottom: 50px;*/
    bottom: 0;
	margin: 0;
	border-top-style: solid;
	border-top-width: 3px;
	border-color: #f50;
}

#msg-container {
	text-align: center;
	width: 60%;
	height: 100%;
	padding: 0;
	float: left;
	position: relative;
    background-color: #e9e0ff;
}

#onlineusers-content {
	width: 18%;
	height: 100%;
	float: right;
    background-color: #cce;
}

#onlineusers {
	width: 100%;
	height: auto;
    overflow: scroll;
    overflow-x: hidden;
	float: right;
    background-color: #cce;
}

option.users{
    bottom: 5px;
}

#dynamic-content {
	width: 22%;
	height: 100%;
	float: left;
    background-color: #dde;
}

#music {
	height: 40%;
	position: relative;
    overflow: scroll;
	overflow-x: hidden;
}

#messages {
	text-align: left;
	width: auto;
	height: 80%;
	bottom: 30px;
	margin: 10px;
    overflow: scroll;
	position: relative;
	top: 0;
    overflow-x: hidden;
}

.border img {
    height: 50px;
    width: 50px;
    position: absolute;
}

.border span {
    padding-left: 60px;
    position: relative;
}

#message {
	margin-left: auto;
	margin-right: auto;
	padding-left: 5px;
	height: 25px;
	width: 90%;
	border-color: #333;
	border-width: 0px;
	border-radius: 5px;
	color: #333;
	background-color: #f2f2ff;
}

li.messages {
    list-style: none;
	position: relative;
	padding-bottom: 5px;
}

iframe {
	width: 20%;
	height: 20%;
	-webkit-transition: width 1s; /* Safari */
    transition: width 1s;
}

iframe:hover {
	width: 40%;
}

.icon {
	float: left;
	height: 24px;
	border-radius: 8px;
	border-width: 1px;
	border-color: gray;
	border-style: solid;
	width: 32px;
	margin-right: 5px;
}

.notification {
    text-align: center;
	float: left;
	min-height: 24px;
    margin-bottom: 5px;
    border-radius: 10px;
    height: 24px;
	border-width: 0px;
	border-color: #fff;
	border-style: solid;
	padding: 4px;
    color: #aaa;
    width: 97%;
}

.msg {
	margin-bottom: 5px;
    word-wrap: break-word;
	float: left;
	min-height: 24px;
	/*min-width: 90%;*/
	border-radius: 10px;
	border-width: 0px;
	border-color: #228;
	border-style: solid;
	padding: 4px;
	width: 90%;
	background-color: #ccf;
}

.msg.pm {
	border-color: #900;
	background-color: #faa;
}

.msg.own {
	border-color: #090;
	background-color: #afa;
}

.join {
	background-color: #228;
}

.leave {
	background-color: #822;
}

div.channel {
    width: 100%;
    height: auto;
    padding: 3px 0px 3px 7px;
    background-color: #aaf;
    border-bottom: 2px solid #666;
    margin: 5px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color:	rgba(0,0,0,0.1);
    border-radius: 6px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	background: -webkit-linear-gradient(left, white , #aaf); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, white, #aaf); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, white, #aaf); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, white , #aaf); /* Standard syntax */
}
