﻿* {
    margin: 0px;
    padding: 0px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    background: #000000;
    z-index: 10;
}

#container {
    font-family: 'Quicksand', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
}

.menu-left {
    list-style: none;
}

    .menu-left li {
        display: block;
        height: 50px;
        width: 125px;
        float: left;
        line-height: 50px;
        text-align: center;
    }

        .menu-left li:hover {
            background-color: #14d357;
        }

#container a {
    text-decoration: none;
    color: #ffffff;
}

#username-nav {
    color: #14d357;
    width: 170px;
}

    #username-nav:hover {
        background: #000000;
    }

.menu-right li {
    display: block;
    height: 50px;
    width: 125px;
    float: right;
    line-height: 50px;
    text-align: center;
}

    .menu-right li:hover {
        background: #14d357;
    }

.menu-right {
    list-style: none;
}

#banner {
    width: 100%;
    height: 500px;
    position: fixed;
    top: 50px;
    background: #ffffff;
}

#content {
    width: 100%;
    position: relative;
    top: 550px;
    background: #d2cbcb;
    height: 1000px;
}

footer {
    width: 100%;
    top: 1550px;
    position: absolute;
    background: #000000;
    height: 50px;
    text-align: center;
    color: #14d357;
    font-family: 'Quicksand', sans-serif;
}

p {
    margin: 15px auto;
}

#profile-picture {
    width: 50px;
    text-align: center;
}

    #profile-picture:hover {
        background: #000000;
    }

#profile-picture-wrapper {
    margin: 10px auto;
    width: 30px;
}
