﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - Home</title>
    @Styles.Render("~/Content/edit.css")
    @Styles.Render("~/Content/css.css")
    <link href='http://fonts.googleapis.com/css?family=Quicksand:400' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="header">
        <div id="container">
            <ul class="menu-left">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            <ul class="menu-right">
                @if (Request.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Log out", "LogOut", "Users")</li>

                    <li id="profile-picture"><div id="profile-picture-wrapper"><img src='@Url.Action("GetProfileImage", "Users")' alt="Can not be displayed" width="30" height="30" />                   </div></li>
                    <li id="username-nav">@Html.Raw("Welcome, " + HttpContext.Current.User.Identity.Name)</li>
                }
                else
                {
                    <li>@Html.ActionLink("Register", "Register", "Users")</li>
                    <li>@Html.ActionLink("Log in", "Login", "Users")</li>
                }
            </ul>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
